<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.Global.SITE_NAME</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <partial name="_TopStyles" />

</head>
<body>
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        @await Html.PartialAsync("_SocialLinks")
    </div>

    <header id="header" class="fixed-top">
        @await Html.PartialAsync("_Navigation")
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("_FooterContent")
    </footer>

    <div id="preloader"></div>

    @await Html.PartialAsync("_BottomScripts")


    @RenderSection("Scripts", required: false)

</body>
</html>
