@{
    string homeActive = ViewData["homeActive"]?.ToString();
    string blogActive = ViewData["blogActive"]?.ToString();
    string curriculumActive = ViewData["curriculumActive"]?.ToString();
}


<div class="container d-flex align-items-center">

    <h1 class="logo mr-auto">
        <a asp-controller="Home" asp-action="Index">
            @Constants.Global.AUTHOR<span>.</span>
        </a>
    </h1>

    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

    <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="@homeActive">
                <a asp-controller="Home" asp-action="Index">- Home - </a>
            </li>
            <li class="@blogActive">
                <a asp-controller="Blog" asp-action="Index">- Blog -</a>
            </li>
            <li class="@curriculumActive">
                <a asp-controller="Curriculum" asp-action="Index">- CV -</a>
            </li>

        </ul>
    </nav><!-- .nav-menu -->

</div>