@model int
@{ var statusCode = Model;
    var statusmessage = string.Empty;
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad Syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page Not Found";
            break;
        case 408:
            statusmessage = "Timeout";
            break;
        case 500:
            statusmessage = "Internal Server Error";
            break;
        default:
            statusmessage = "OOps! Something went wrong";
            break;
    }

    ViewData["Title"] = statusmessage; }

<div class="container">
    <h1> @Model</h1>
    <p>@statusmessage</p>
</div>
