@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.text-purple {
    color: $color-theme;
}

body {
    font-family: "Open Sans", sans-serif;
    color: $color-grey-dark;
}

a {
    color: $color-theme;
}

a:hover {
    color: $color-hover;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

main {
    margin-top: 134px;

    @include all-mobile {
        margin-top: 58px;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.face {
    max-height: 32px;
    padding: 0px !important;

    &-happy {
        max-width: 32px;
        content: url("../../img/happy.png");
    }

    &-sad {
        max-width: 15px;
        content: url("../../img/sad.png");
    }
}
