@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.text-purple {
    color: #330066;
}

body {
    font-family: "Open Sans", sans-serif;
    color: $color-body;
}

a {
    color: $color-link;
}

a:hover {
    color: $color-link-hover;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

main {
    margin-top: 134px;

    @include all-mobile {
        margin-top: 58px;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
