.text-purple {
  color: #330066; }

body {
  font-family: "Roboto", sans-serif;
  /*font-family: "Poppins", sans-serif;*/
  color: #444444;
  letter-spacing: 0.8px; }

a {
  color: #330066; }

a:hover {
  color: #3b8af2;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

main {
  margin-top: 134px; }
  @media only screen and (max-width: 959px) {
    main {
      margin-top: 58px; } }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.face {
  max-height: 32px;
  padding: 0px !important; }
  .face-happy {
    max-width: 32px;
    content: url("../../img/happy.png"); }
  .face-sad {
    max-width: 15px;
    content: url("../../img/sad.png"); }

.sitecore {
  content: url("../../img/sitecore.png"); }

.asp-net {
  content: url("../../img/aspnet.png"); }
