$color-theme: #330066;

$color-blue: #247cf0;
$color-blue-dark: #106eea;
$color-blue-light: #6ba7f5;
$color-hover: #3b8af2;
$color-grey: #555555;
$color-grey-dark: #444444;
$color-grey-light: #6c757d;
$color-grey-light-2: #777777;
$color-grey-light-3: #eee;
$color-red: #FF0000;
$color-red-light: #ed3c0d;
$color-green: #18d26e;
$color-breadcrumb-bg: #f1f6fe;
$color-white: #ffffff;
$color-white-2: #f6f9fe;
$color-white-3: #e7f1fd;
$color-black: #222222;

// Font Sizes

$font-size-h1: 1.7em;
$font-size-h2: 1.3em;
