@model BlogPostViewModel

@if (Model != null)
{

    ViewData["Title"] = Model.BlogPost.Title;
    ViewData["blogActive"] = "active";



    <section class="inner-page">

        <div class="container">

            <article class="blog">

                <header class="entry-header">
                    <h1>@Model.BlogPost.Title</h1>
                    <div class="entry-meta">
                        by <span class="entry-author">Nuno Silva.</span>
                        <span>@Model.BlogPost.CreatedDate.ToString("dd/MM/yyy")</span>
                    </div>
                </header>

                <div class="entry-content">
                    @Html.Raw(Model.BlogPost.HtmlContent)
                </div>

            </article>

            @{
                await Html.RenderPartialAsync("_Comments", Model.BlogPostComments);
            }

        </div>


    </section>

    @section TopStyles {

        <link rel="stylesheet" href="~/lib/prism//prism.min.css" />
    }

    @section Scripts{
        <script type="text/javascript" src="~/lib/prism/prism.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
    }
}


