@{
    ViewData["Title"] = "Blog";
    ViewData["blogActive"] = "active";
}

@model IEnumerable<BlogPost>

<section class="inner-page">
    @foreach (var blog in Model)
    {

        <div class="container">

            <article class="blog">

                <header class="entry-header">
                    <h1><a href="/blog/@blog.Id/@blog.Title.Replace(" ", "-")">@blog.Title</a></h1>
                    <div class="entry-meta">
                        <span>@blog.CreatedDate.ToString("dd/MM/yyy")</span>
                    </div>
                    <div class="entry-content">
                        @Html.Raw(blog.HtmlContent.Substring(0, 100) + "...")
                    </div>
                </header>


            </article>
        </div>

    }
</section>



@*


                    TEMPLATE

                    <p>
                        My passion is to design powerful and scalable software/web solutions, ranging all ends of the development spectrum, including the implementation of innovative applications, services, frameworks, and APIs. Currently my primary focus is to develop Sitecore solutions which are scalable, maintainable and that meet the high standards the industry demands.
                    </p>
                    <h2>Want to Start Your Own Blog?</h2>
                    <p>
                        My passion is to design powerful and scalable software/web solutions, ranging all ends of the development spectrum, including the implementation of innovative applications, services, frameworks, and APIs. Currently my primary focus is to develop Sitecore solutions which are scalable, maintainable and that meet the high standards the industry demands.
                        <pre>
                        <code class="language-csharp">
    [HttpPost]
    [ValidateAntiForgeryToken]
    public async Task<IActionResult> SendMessage(ContactForm form, [FromServices] ContactFormService contactFormService)
    {
        if (form != null && ModelState.IsValid)
        {
            var status = await contactFormService.SendContactMessage(form);
            Thread.Sleep(2000);
            if (status)
            {
                return ViewComponent("ContactForm");
            }
        }
        return null;
    }</code>
                        </pre>
                    </p>*@