<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Need to reach out and don't know <strong class="text-purple">how?</strong></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa fa-envelope"></i>
                    <div class="contact-link">
                        <a href="mailto:@Constants.Contact.EMAIL">
                            @Constants.Contact.EMAIL
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa fa-phone"></i>
                    <div class="contact-link">
                        <a href="tel:@Constants.Contact.PHONE">
                            @Constants.Contact.PHONE
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <partial name="_ContactForm" />

    </div>
</section>