@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.blog {
    padding: 30px;
    background: $color-white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;


    h1 {
        line-height: 1;
        font-weight: 600;
        color: $color-black;
    }

    h2 {
        line-height: 1;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 2rem;
    }


    .entry-header {
        display: block;
    }

    .entry-author {
        color: $color-theme;
        font-weight: 600;
    }

    .entry-meta {
        font-size: 75%;
        margin-top: .5em;
        line-height: 1.5;
        color: $color-grey-light-2;
    }

    .entry-content {
        margin-top: 1.7em;
        word-wrap: break-word;
    }

    .entry-continue {
        margin-top: 1.7em;
    }

    .more-link {
        margin-right: 5px;
        font-size: 14px;
    }

    .blog-image {
        width: 100%;
        height: auto;
    }

    .featured-image {
        margin-top: 2em;
    }
}
