.categories {
  list-style: none;
  display: inline;
  padding: 0; }
  .categories li {
    display: inline-block; }
  .categories a {
    color: #330066;
    font-weight: bolder;
    text-decoration: underline; }
  .categories li:not(:first-child):not(:last-child):after {
    content: ", "; }
