@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.comment {
    margin-top: 1.5em;

    h1 {
        font-size: $blog-title-font-size;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
    }

    h2 {
        font-size: $blog-section-font-size;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1em;
        line-height: 1;
        font-weight: normal;
        color: $color-black;
        margin-bottom: 20px;
        text-align: right;
    }

    .content {
        background: $color-white;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: .5em;

        p {
            white-space: pre-wrap;
            margin-bottom: .5em;
        }

        span {
            font-size: .8em;
            font-weight: bold;
        }
    }

    textarea {
        padding: 5px;
    }

    time {        
        font-size: .8em;
    }
}

.comment-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
}

.comment-form .validate {
    color: $color-red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.error-message {
    display: none;
    background: $color-white;
    text-align: center;
    padding: 15px;
}

.comment-form .error-message br + br {
    margin-top: 25px;
}

.sent-message {
    display: none;
    background: $color-white;
    text-align: center;
    padding: 15px;
}

.comment-form .loading {
    display: none;
    background: $color-white;
    text-align: center;
    padding: 15px;
}

.comment-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid $color-green;
    border-top-color: $color-white;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.comment-form input, .comment-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.comment-form input:focus, .comment-form textarea:focus {
    border-color: $color-theme;
}

.comment-form input {
    padding: 20px 15px;
}

.comment-form textarea {
    padding: 12px 15px;
}

.comment-form input[type="submit"] {
    background: $color-theme;
    border: 0;
    padding: 10px 30px;
    color: $color-white;
    transition: 0.4s;
    border-radius: 4px;
}

.comment-form button[type="submit"]:hover {
    background: $color-hover;
}



