@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.comment {
    margin-top: 1.5em;

    h1 {
        font-size: $blog-title-font-size;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
    }

    h2 {
        font-size: $blog-section-font-size;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1em;
        line-height: 1;
        font-weight: normal;
        color: $color-black;
        margin-bottom: 20px;
        text-align: right;
    }

    .content {
        background: $color-white;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: .5em;

        p {
            white-space: pre-wrap;
            margin-bottom: .5em;
        }

        span {
            font-size: .8em;
            font-weight: bold;
        }
    }

    textarea {
        padding: 5px;
    }

    time {        
        font-size: .8em;
    }
}
