@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.socialsharing {
    text-align: center;

    a {
        display: inline-block;
        padding: .7em;
        line-height: 0;
        margin-bottom: 2em;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
