#topbar {
  background: #330066;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff; }

#topbar.topbar-scrolled {
  top: -40px; }

#topbar .social-links {
  margin-left: auto;
  margin-right: 0; }

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s; }

#topbar .social-links a:hover {
  color: #fff; }
