<section id="about" class="about section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/img/profile/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Sitecore / .NET developer</h3>
                <p class="text-justify">
                    Highly motivated Senior Developer with experience implementing enterprise content management systems.
                    Specialized in Sitecore and with a wide knowledge of the platform, I help delivering solutions that are user-friendly and easy
                    to maintain. My passion is to design powerful and scalable software/web solutions, ranging all ends of the development
                    spectrum, including the implementation of innovative applications, services, frameworks, and APIs  that meet the high standards the industry demands.
                </p>
                <ul>
                    <li>
                        <i class="bx sitecore"></i>
                        <div>
                            <h5>Sitecore</h5>
                            <p><strong class="text-purple">Sitecore</strong> is one of the leading enterprise-level content management systems built on ASP.NET</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx asp-net"></i>
                        <div>
                            <h5>
                                ASP.NET
                            </h5>
                            <p><strong class="text-purple">ASP.NET</strong> is an open-source, server-side web-application framework designed for web development to produce dynamic web pages.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>