  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="hero-bg"></div>
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>
            Welcome to <span>@Constants.Global.SITE_NAME</span>
        </h1>
        <h2>C#, Sitecore and <span class="text-purple">more.</span></h2>
    </div>
</section><!-- End Hero -->